*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--title-font: 'Ubuntu', sans-serif;
	--subtitle-font: 'Roboto Mono', monospace;
	--navbar-font: 'Gemunu Libre', sans-serif;

	--dark-color: #2F4F4F;
	--light-color: #2E8B57;
	--bg-color: #081c24;
}

/*================ GENERAL ============*/
	html{
		scroll-behavior: smooth;
	}

	body {
		background-image: unset;
		background-color: var(--bg-color);
		overflow-x: hidden;	
	}

	a{
		text-decoration: none;
  	color: inherit;
	}

	ul{
		list-style-type: none;
	}

	h1{
		font-size: 10vw;
		font-family: var(--title-font);
		color: whitesmoke;
	}
	/* H2 */
	h2{
		position: relative;
		width: max-content;
		margin: 0 auto;
		padding: 0 20px;
		font-size: 10vw;
		font-family: var(--title-font);
		color: whitesmoke;

		transition: all .2s;
	}

	h2::after{
		position: absolute;
		content: "";
		background-color: var(--light-color);
		width: 100%;
		height: 2px;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		transition: all .25s;
	}
	/* H3 */
	h3{
		position: relative;
		width: max-content;
		margin: 0 auto;
		padding: 0 20px;
		color: whitesmoke;
		font-size: 10vw;
		font-family: var(--title-font);
	}

	h3::before{
		position: absolute;
		content: "";
		background-color: var(--light-color);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		top:50%;
		left: 0;
		margin-right:20px ;
    transform:translate(-50%,-50%);

    transition: all .2s;
	}
	
	h3::after{
		position: absolute;
		content: "";
		background-color: var(--light-color);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		top:50%;
		left: 100%;
    transform:translate(-50%,-50%);

    transition: all .2s;
	}

/* SCROLLBAR SECTION */
	body::-webkit-scrollbar {
  	width: 12px;
	}

	body::-webkit-scrollbar-track {
  	background-color: rgb(7, 31, 39);
	}

	body::-webkit-scrollbar-thumb {
  	background: rgb(40, 54, 58);
  	border-radius: 20px;
	}

/* NAVBAR BUTTON */
	.about{
		display: none;
	}

	#navbar-toggle{
		z-index: 1000;
		position: fixed;
		top: 0;
		right: 0;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 20px 20px 0 calc(100% - 40px);
		overflow: hidden;
	}

	#navbar-toggle i{
		font-size: 7vh;
		color: whitesmoke;
	}

	#navbar-toggle-input{
		display: none;
	}

/* NAVBAR FUNCTIONS */
	#navbar-toggle-input[type="checkbox"]:checked + .navbar{
		visibility: visible;
		animation: navbar-mobile .5s;
	}

	@keyframes navbar-mobile{
		from{
			right: -10em;
			opacity: 0;
		}
		to{
			right: 0;
			opacity: 1;
		}
	}

	#navbar-toggle-input[type="checkbox"]:not(:checked) + .navbar{
		animation: navbar-mobile-remove .1s;
	}

	@keyframes navbar-mobile-remove {
		from{
			right: 0;
			opacity: 1;
			visibility: visible;
		}
		to{
			right: -10em;
			opacity: 0;
			visibility: hidden;
		}
	}

/* NAVIGATION BAR */
	.navbar{
		z-index: 900;
		visibility: hidden;
		background-color: rgb(0, 0, 0, 0.7);
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		transition: background-color 0.25s;
	}

	.navbar ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: whitesmoke;
		height: 100vh;
		font-family: var(--navbar-font);
	}

	.navbar li{
		position: relative;
		text-align: right;
		font-size: 4vh;
		padding: 1em;
		transition: background-color 0.25s;
	}

	.navbar li a{
		width: 100%;
		height: 100%;	
	}

	.navbar li i{
		margin-left: 4vw;
	}

	.navbar li:hover{
		background-color: rgb(255,255,255, 0.1);
	}

/* HOME SECTION */
	.header{
		padding-top: 35px;
		padding-left: 45px;
		color: whitesmoke;
		text-align: left;
		opacity: 1;

		animation: header-intro 1s;
	}

	@keyframes header-intro{
		from{
			opacity: 0;
			padding-top: 0;
		}
		to{
			opacity: 1;
			padding-top: 35px;
		}
	}

	.header h1{
		display: inline-block;
	}

	.header p{
		display: inline-block;
		font-family: var(--subtitle-font);
		font-size: 4vw;
	}

	.header .bar{
		opacity: 0;
		animation: bar 1.1s infinite 1s;
	}

	@keyframes bar{
		0%{
			opacity: 0;
		}49%{
			opacity: 0;
		}50%{
			opacity: 1;
		}100%{
			opacity: 1;
		}
	}

/* ABOUT SECTION */
	.about-container{
		position: relative;
		display: flex;
		flex-direction: column;
		width: calc(100vw - 20px);
		padding: 20px;
	}

	.about-title{
		display: initial;
		text-align: center;
	}

	.about-card{
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 1000px;
		opacity: .7;
		border-radius: 20px;
		margin: 40px 10px 10px;
	
		transition: all .25s;
	}

	.about-card{
		position: relative;
		display: inline-flex;
		flex-direction: column;
		width: 95%;
		opacity: .7;
		background: linear-gradient(to right, var(--light-color) 50%, var(--dark-color) 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		border-radius: 20px;
		margin: 10px 2.5%;
		transition: all .600s;
	}


	.profile{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 20px 20px 0 0;
		background-color: var(--light-color);
		text-align: center;
		padding: 30px;
	}

	.profile i{
		margin: 10px;
		font-size: 5vh;
		color: whitesmoke;
	}

	.profile img{
		width: 65%;
		height: auto;
		border-radius: 50%;
		border: var(--dark-color) solid 3px;

		transition: all .3s;
	}


	.about-text-header{
		position: relative;
		margin-bottom: 6px;
		font-size: 5vw;
	}

	.about-text{
		position: relative;
		padding: 20px;
		font-family: 'Noto Sans TC', sans-serif;
		text-align: left;
		background-color: rgb(0, 0, 0, .3);
		color: whitesmoke;
		border-radius: 0 0 20px 20px;
		font-size: 3.5vw;
		padding: 3.3vh;

		transition: all .25s;
	}

/* SERVICES SECTION */

	.services-container{
		position: relative;
		margin: 2.5%;
	}

	.services-container h3{
		text-align: center;
	}

	.services-container ul{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}

	.services-container li{
		display: inline-flex ;
		flex-direction: column;
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 5vw;
		margin: 10px;
		padding: 40px 20px;
		background-color: rgb(0, 0, 0, 0.7);
		border-radius: 20px;
		color: whitesmoke;
		text-align: center;

		transition: all .3s;
	}

	.services-container i{
		font-size: 10vw;
		color: whitesmoke;
		margin-bottom: 5px;

		transition: all .3s;
	}

/* PORTFOLIO SECTION */
	.portfolio-container{
		position: relative;
		width: calc(100vw - 20px);
		text-align: center;
		padding: 20px;
	}

	.portfolio-container ul{
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.portfolio-container li{
		position: relative;
		width: 100%;
		height: 40%;
		border-radius: 20px;
		margin: 20px 0;
		background-color: rgb(0, 0, 0, 0.5);
		overflow: hidden;
	}

	#project-card{
		width: 100%;
		margin-top: 20px;
		display: grid;
	    justify-content: center;
    	grid-template-columns: repeat(auto-fit, 100%);
    }

	.project{
		position: relative;
		width: 100%;
		border-radius: 20px;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.project img{
		width: 100%;
		height: 100%;

		transition: transform .4s ease;
	}

	.portfolio-container p{
		font-size: 5vw;
		font-family: var(--subtitle-font);
		color: whitesmoke;
	}

	.project section{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: var(--subtitle-font);
		top: 0;
		width: 100%;
		height: 100%;
		padding: 10px;

		border-radius: 20px;
		opacity: 0;
		background-color: rgb(0, 0, 0, 0.6);

		transition: all .4s;
	}

	.portfolio-container .web-link{
		font-size: 3vw;
		width: 30vw;
		border-radius: 20px;
		margin: 20px auto;
		border: solid whitesmoke 3px;
		color: whitesmoke;
	}


	.project:hover section{
		opacity: 1;
	}

	.project .github{
		font-size: 6vw;
		color: whitesmoke;
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0;
		padding: 3px;
		margin: 0;
	}

	.project:hover .github{
		opacity: 1;
	}

	/* SKILLSET SECTION */
		.skillset-container{
			margin-top: 15px;
			justify-content: center;
			display: grid;
			grid-template-columns: repeat(auto-fit, 50%);
		}

		.skill{
			width: 100%;
			height: 80%;
			margin: 20px;
			padding: 10px;
			border-radius: 20px;
			font-size: 5vw;

			transition: all .3s;
		}

		.skillset-container img{
			width: 100%;
			height: 100%;

			transition: all .2s;
		}

		.skillset-container p{
			text-align: center;
			font-size: 80%;
		}

/* CONTACT SECTION */
	.contact-container{
		position: relative;
		margin: 20px 20px 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/* Contact form */
		.contact-form{
			border-radius: 20px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			margin-top: 30px;
			padding: 10px;
			width: 97%;
			background-color: var(--dark-color);

			animation-duration: 350ms;
		}

		.contact-form input,button{
			padding: 20px;
			margin: 5px;
			border-radius: 20px;
		}

		.contact-form input{
			background-color: var(--bg-color);
			color: whitesmoke;
    		border: 0px solid;
    		transition: all 300ms;
    		font-size: 2rem;
		}

		.contact-form input:hover{
			border: 2px solid var(--light-color);
		}

		.contact-form input:focus{
			outline: none;
			border: 2px solid var(--light-color);
		}

		.form-name{
			grid-column: 1/2;
			grid-row: 1/2;
		}

		.form-email{
			grid-column: 1/2;
			grid-row: 2/3;
		}

		.form-message{
			grid-column: 1/2;
			grid-row: 3/5;
		}

		.contact-form button{
			grid-column: 1/2;
			grid-row: 5/6;
			color: whitesmoke;
			font-size: 30px;
    		border: 0px solid;
    		transition: all 300ms;
    		cursor: pointer;
			background-color: var(--bg-color);
    		font-size: 4rem;
		}

		.contact-form button:hover{
			background-color: var(--light-color);
		}

	.contact-card{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 20px 0;
		margin: 30px 0;
		width: 97%;
		border-radius: 20px;
		font-family: var(--subtitle-font);
		color: rgb(255, 255, 255, 0.4);
		background-color: var(--dark-color);
		transition: all 300ms;
    	font-size: 2rem;
	}

	.contact-card div{
		padding-bottom: 20px;
	}

	.contact-card i{
		padding-bottom: 20px;
    	font-size: 20rem;
		transition: all 300ms;
		cursor: pointer;
		color: rgb(255, 255, 255, 0.9);
	}

	@keyframes light-form{
		0%{
			background-color: var(--light-color);
		},50%{
			background-color: #3F6C6C;
		},100%{
			background-color: var(--light-color);
		}
	}

/* LARGE DEVICES */
	@media(min-width: 1024px){
		@keyframes transitionIn{
		from{
			filter: blur(20px);
			}to{
				filter: blur(0);
			}
		}

	.about{
		display: initial;
	}

	h1{
		font-size: 7.6rem;
	}

	h2{
		font-size: 5rem;
	}

	h3{
		font-size: 4rem;
	}

	h2:hover{
		padding: 0 40px;
	}

	h3:hover::before{
		left: -6%;
		width: 15px;
		height: 15px;
	}

	h3:hover::after{
		left: 106%;
		width: 15px;
		height: 15px;
	}

/* HOME SECTION */

	.header{
		position: relative;
		backdrop-filter: blur(5px);
		text-align: center;
		padding-left: 0;
		padding-top: 200px;
		height: 100vh;
	}

	@keyframes header-intro{ /*Animation*/
		from{
			opacity: 0;
			padding-top: 0;
		}
		to{
			opacity: 1;
			padding-top: 200px;
		}
	}

	.header p{
		font-size: 3vw;
	}

/* NAVBAR */
	.navbar-toggle{
		display: none;
	}

	.navbar ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0;
		height: auto;
		list-style-type: none;
	}

	#navbar-toggle{
		display: none;
	}

	.navbar{
		visibility: visible;
		background-color: rgb(0,0,0,0.2);
		width: 100%;
		height: auto;
	}

	.navbar li{
		position: relative;
		display: flex;
		flex-direction: column;
		font-size: 1.5vw;
		padding: .5em 1em .5em;
		transition: all .1s;
	}

	.navbar li:hover{
		padding-top: .8em;
		font-size: 1.7vw;
	}

	.navbar li i{
		margin-top: 3px;
		margin-left: 0;
		font-size: 1vw;
		text-align: center;

		transition: all .1s;
	}

	.navbar li:hover i{
		font-size: 0;
	}

	.navbar li::after{
		position: absolute;
		content: "";
		background-color: var(--light-color);
		width: 100%;
		height: 2px;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		transition: all .25s;
		transform: scaleX(0);
	}

	.navbar li:hover::after{
	transform: scaleX(1.0);
	}

	#navbar-toggle-input[type="checkbox"]:not(:checked) + .navbar{
		animation: navbar-mobile-remove 0s;
	}

/* ABOUT SECTION */

	.about-container{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		padding: 60px 20px 20px;
	}

	.about-title{
		text-align: center;
	}

/* PRESENTATION CARD from ABOUT SECTION */
	.about-card{
		position: relative;
		display: inline-flex;
		flex-direction: row;
		width: 50%;
		opacity: .7;
		background: linear-gradient(to right, var(--light-color) 50%, var(--dark-color) 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		border-radius: 20px;
		margin: 10px auto;
		transition: all .600s;

		perspective: 500px;
    transform: rotateX(11deg) rotateY(5deg) rotateZ(0deg);
	}

	.about-text-header{
		font-size: 2vw;
	}

	.about-text{
		margin: 10px;
		border-radius: 20px;
		font-size: 1.1vw;
	}

	.about-text-header::after{
		content: "";
    display: block;
    height: 3px;
    width: 0;
    position:relative;
    background-color:whitesmoke;

    transition: all ease-in-out 300ms;
	}	

	.about-card:hover{
		perspective: none;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
		background-position: left;
	}

	.about-card:hover .about-text{
		background-color: rgb(0, 0, 0, .7);
	}

	.about-card:hover .profile img{
		border: var(--dark-color) solid 5px;
	}

	.about-card:hover .about-text-header::after{
		width: 100%;
	}

/* PROFILE SECTION */
	.profile{
		display: initial;
		border-radius: 20px 0 0 20px;
		background-color: var(--light-color);
		text-align: center;
		padding: 30px;
	}

	.profile img{
		width: 240px;
		height: 240px;
		border-radius: 50%;
		border: var(--dark-color) solid 2px;

		transition: all .3s;
	}

/* SERVICES SECTION */

	.services-container{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.services-container ul{
		flex-direction: row;
		width: unset;
	}

	.services-container li{
		font-size: 15px;
		padding: 20px;
	}

	.services-container li:hover{
		background-color: rgb(0, 0, 0, .4);
		padding: 20px 25px;
	}

	.services-container li:hover i{
		transform: rotate(5deg);
		color: var(--light-color);
	}

	.services-container i{
		font-size: 30px;
	}

/* PORTFOLIO SECTION */
	.portfolio-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		padding: 60px 20px 20px;
	}

	.portfolio-container ul{
		flex-direction: row;
		justify-content: space-around;
	}

	.portfolio-container li {
		width: 30vw;
		height: auto;
	}

	.project p{
		font-size: 2.5vw;
	}

	.portfolio-container .web-link{
		width: unset;
		margin: 20px auto;
		padding: 1px 10px;
		font-size: 1.5rem;

		transition: all .2s;
	}
	
	.portfolio-container .github{
		font-size: 1.5rem;
	}
	.portfolio-container i{
		transition: all .2s;
	}

	.portfolio-container .web-link:hover{
		padding: 1px 14px;
		border: solid var(--light-color);
	}

	.portfolio-container a:hover i{
		color: var(--light-color);
		transform: rotate(20deg);
	}

	#project-card{
		width: 100%;
		height: auto;
		margin-top: 20px;
		display: grid;
	    	justify-content: space-evenly;
    		grid-template-columns: repeat(auto-fit, 30%);
    }

    .project section{
		backdrop-filter: blur(10px);
    }

	.project:hover img{
		transform: scale(1.7);
	}

/* SKILLSET SECTION */
	.skillset-container{
		grid-template-columns: repeat(auto-fit, 170px);
	}
	.skill{
		width: 170px;
		height: 170px;
		font-size: 2vw;
	}

	.skill:hover{
		background-color: rgb(46, 139, 87, 0.5);
	}

	.skill img{
		opacity: 0.5;
	}

	.skill:hover img{
		transform: scale(1.1);
		opacity: 1;
	}	

/* CONTACT SECTION */
	.contact-container{
		height: 100vh;
		padding: 60px 20px 20px;
	}

		/* Contact form */
		.contact-form{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			width: 70%;
		}

		.contact-form input,button{
			padding: 20px;
			margin: 10px;
			border-radius: 20px;
		}

		.contact-form input{
			font-size: 1rem;
		}

		.form-name{
			grid-column: 1/2;
			grid-row: 1/2;
		}

		.form-email{
			grid-column: 2/3;
			grid-row: 1/2;
		}

		.form-message{
			grid-column: 1/3;
			grid-row: 2/3;
		}

		.contact-form button{
			grid-column: 1/3;
			grid-row: 3/4;
			color: whitesmoke;
			font-size: 30px;
		}

	.contact-card{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 20px 60px;
		margin: 30px 0;
		width: 70%;
    	font-size: 1rem;
	}

	.contact-card i{
		padding-bottom: 20px;
		font-size: 80px;
		transition: all 300ms;
		cursor: pointer;
	}

	#contact i:hover{
		color: var(--light-color);
		transform: rotate(-10deg);
	}

	.contact-card:hover i{
		font-size: 90px;
		color: rgb(255, 255, 255, 0.9);
	}

	.contact-card div{
		padding-bottom: 0;
	}

}